
              
         <!DOCTYPE html>
         <html lang="en">
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"></link>
         <head>
             <meta charset="UTF-8">
             <title>Payment page</title>
         </head>
         <body>
         
      <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">

         <form action="" method="post">
             {% csrf_token %}
             
                                 <div class="form-group">
                        <input type="Number" class="form-control" placeholder="Enter Phone Number" name="phonenumber" required>
                    </div>

                    <div class="form-group">
                        <input type="number" class="form-control  mt-2" placeholder="Amount" name="amount" required>
                    </div>
         
         <div class="d-grid gap-2">
             <input class="btn btn-success mt-2" type="submit" value="LIPA NA MPESA">
         </div>
         </form>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

         </body>
         </html>     


         #other option


         #class UserAdmin(admin.ModelAdmin):
         # "id" can be replaced by any other field to use as link
         #list_display = ('id', 'profile_pic',)
         #list_editable = ('profile_pic',)
     




In addition to the answer of Michael C. O'Connor

Note that since Django v.1.9 (updated - tested and worked all the way to Django 3.0)

image_tag.allow_tags = True

is deprecated and you should use format_html(), format_html_join(), or mark_safe() instead

So if you are storing your uploaded files in your public /directory folder, your code should look like this:

from django.utils.html import mark_safe


    Class Model1(models.Model):
        image = models.ImageField(upload_to=directory)

        def image_tag(self):
            return mark_safe('<img src="/directory/%s" width="150" height="150" />' % (self.image))

        image_tag.short_description = 'Image'

and in your admin.py add:

fields = ['image_tag']
readonly_fields = ['image_tag']








{% extends "admin/change_form.html" %}

{% block field_sets %}
{% if original %}
<div class="aligned form-row">
    <div>
        <label>Preview:</label>
        <img
            alt="image preview"
            src="/{{ original.file.url }}"
            style="max-height: 300px;">
    </div>
</div>
{% endif %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}
         



